.intro {
  margin-top: 16px;
  &__body {
    padding: 64px 15px;
    border-radius: 16px;
    background-color: var(--dark);
    @include laptop-min {
      padding: 32px 15px;
    }
    @include tablet {
      padding: 24px 15px;
    }
  }
  &__body-inside {
    width: 1250px;
    max-width: 100%;
    margin: 0 auto;
  }
  &__head {
    @include flex-between;
    gap: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 25px;
    }
  }
  &__main {
    flex: 0 1 750px;
    @include tablet {
      flex: none;
      width: 100%;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 112%;
    margin: 0px 0px 24px 0px;
    @include laptop-middle {
      font-size: 48px;
    }
    @include laptop-min {
      font-size: 38px;
    }
    @include tablet-min {
      font-size: 28px;
    }
  }
  &__content {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    margin: 0px 0px 32px 0px;
    @include laptop-min {
      font-size: 20px;
    }
    @include tablet {
      font-size: 18px;
    }
  }
  &__btn {
    @include tablet-min {
      width: 100%;
    }
  }
  &__img {
    display: block;
    width: 400px;
    @include laptop-middle {
      width: 300px;
    }
    @include laptop-min {
      width: 250px;
    }
    @include tablet {
      width: 400px;
    }
  }
  &__adv {
    margin-top: 48px;
    @include tablet {
      margin-top: 25px;
    }
  }
  &__adv-title {
    margin-bottom: 32px;
  }
  &__adv-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    row-gap: 24px;
    @include laptop-middle {
      gap: 20px;
    }
    @include laptop-min {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }
  }
  &__adv-item {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid var(--primary);
    padding: 24px;
    min-height: 125px;
    z-index: 1;

    &::before {
      position: absolute;
      content: "";
      width: 64px;
      height: 32px;
      left: 0;
      bottom: 0;
      background-color: var(--primary);
      border-radius: 0 16px;
      z-index: -1;
    }
  }
  &__adv-num {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 8px;
  }
  &__adv-descr {
    font-size: 15px;
    line-height: 133%;
    margin: 0;
  }
}
