.s-team {
  &__head {
    @include flex-between;
    gap: 20px;
    padding: 24px;
    border-radius: 16px;
    background-color: var(--dark);

    @include tablet {
      flex-wrap: wrap;
      padding: 24px 15px;
    }
  }
  &__head-main {
    @include tablet {
      width: 100%;
    }
  }
  &__head-content {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    margin: 16px 0px 0px 0px;
  }
  &__head-btn {
    flex-shrink: 0;
    @include tablet-min {
      width: 100%;
    }
  }
  &__slider {
    margin-top: 32px;
  }
}
