<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__wrapper-body">
        <a href="/" class="header__logo">
          <img src="@img/logo.png" alt="logo" />
        </a>
        <ul class="list header__list">
          <li><a href="#s-services" data-anchor>Услуги</a></li>
          <li><a href="#s-team" data-anchor>Команда</a></li>
          <li><a href="#s-reviews" data-anchor>Отзывы</a></li>
        </ul>
        <div class="header__contacts">
          <div class="header__tels">
            <a href="tel:+71231231212" class="header__tel">
              +7 (123) 123 12 12
            </a>
            <a href="tel:+71231231212" class="header__tel">
              +7 (123) 123 12 12
            </a>
          </div>
          <div class="header__timework">10:00 - 22:00 без выходных</div>
          <a href="#s-connect" data-anchor class="header__btn">Записаться</a>
        </div>
        <div class="header__burger-btn" id="burger-open">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="burger-overlay" id="burger-overlay"></div>
<div class="burger" id="burger">
  <div class="burger__head">
    <a href="/" class="burger__logo">
      <img src="@img/logo.png" alt="logo" />
    </a>
    <div class="burger__close-btn" id="burger-close">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-close"></use>
      </svg>
    </div>
  </div>
  <ul class="list burger__list">
    <li><a href="#s-services" data-anchor>Услуги</a></li>
    <li><a href="#s-team" data-anchor>Команда</a></li>
    <li><a href="#s-reviews" data-anchor>Отзывы</a></li>
  </ul>
  <div class="burger__contacts">
    <div class="burger__tels">
      <a href="tel:+71231231212" class="burger__tel">+7 (123) 123 12 12</a>
      <a href="tel:+71231231212" class="burger__tel">+7 (123) 123 12 12</a>
    </div>
    <div class="burger__timework">10:00 - 22:00 без выходных</div>
    <a href="#s-connect" data-anchor class="burger__btn">Записаться</a>
  </div>
</div>
