<section class="s-connect sect-m" id="s-connect">
  <div class="container">
    <div class="s-connect__body">
      <img src="@img/connect.png" alt="image" class="s-connect__img" />
      <div class="s-connect__main">
        <h2 class="s-connect__title s-title">Зaпиcь oнлaйн</h2>
        <form action="#" class="s-connect__form">
          <div class="input-control">
            <input type="text" placeholder="Имя" class="input" />
          </div>
          <div class="input-control">
            <input type="tel" placeholder="Телефон" class="input" />
          </div>
          <div class="input-control">
            <input type="text" placeholder="Когда" class="input" />
          </div>
          <div class="input-control">
            <input type="text" placeholder="Какая услуга" class="input" />
          </div>
          <button class="btn-s s-connect__btn">Записаться</button>
        </form>
        <p class="s-connect__policy">
          ​Нажимая на кнопку «Отправить», вы соглашаетесь с нашей
          <a href="#" target="_blank">политикой конфиденциальности</a>
          и даёте согласие на
          <a href="#" target="_blank">обработку персональных данных</a>
        </p>
      </div>
    </div>
  </div>
</section>
