<section class="s-offer sect-m">
  <div class="container">
    <div class="s-offer__body">
      <div class="s-offer__main">
        <h2 class="s-title s-offer__title">Интернет-Реклама в Израиле</h2>
        <p class="s-offer__content">
          Инструменты, которые мы используем для привлечения клиентов на Иврите
          и Русском
        </p>
      </div>
      <a href="#s-connect" data-anchor class="btn-s _outline s-offer__btn">
        Получить консультацию
      </a>
    </div>
  </div>
</section>
