<section class="s-team sect-m" id="s-team">
  <div class="container">
    <div class="s-team__head">
      <div class="s-team__head-main">
        <h2 class="s-title">Наша команда​</h2>
        <p class="s-team__head-content">
          Инструменты, которые мы используем для привлечения клиентов на Иврите
          и Русском
        </p>
      </div>
      <a href="#s-connect" data-anchor class="btn-s _outline s-team__head-btn">
        Получить консультацию
      </a>
    </div>
    <div class="swiper s-team__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide card-spec">
          <h5 class="card-spec__title">Алона</h5>
          <div class="card-spec__content">SMM специалист/копирайтер</div>
          <p class="card-spec__content">
            Маркетинговый контент-эксперт. С 2006 года в сфере коммуникаций.
            Большой опыт управления проектами в направлениях: внутренние
            коммуникации, корпоративные социальные и благотворительные проекты.
          </p>
          <img src="@img/spec.jpg" alt="image" class="card-spec__img" />
        </div>
        <div class="swiper-slide card-spec">
          <h5 class="card-spec__title">Алона</h5>
          <div class="card-spec__content">SMM специалист/копирайтер</div>
          <p class="card-spec__content">
            Маркетинговый контент-эксперт. С 2006 года в сфере коммуникаций.
            Большой опыт управления проектами в направлениях: внутренние
            коммуникации, корпоративные социальные и благотворительные проекты.
          </p>
          <img src="@img/spec.jpg" alt="image" class="card-spec__img" />
        </div>
        <div class="swiper-slide card-spec">
          <h5 class="card-spec__title">Алона</h5>
          <div class="card-spec__content">SMM специалист/копирайтер</div>
          <p class="card-spec__content">
            Маркетинговый контент-эксперт. С 2006 года в сфере коммуникаций.
            Большой опыт управления проектами в направлениях: внутренние
            коммуникации, корпоративные социальные и благотворительные проекты.
          </p>
          <img src="@img/spec.jpg" alt="image" class="card-spec__img" />
        </div>
        <div class="swiper-slide card-spec">
          <h5 class="card-spec__title">Алона</h5>
          <div class="card-spec__content">SMM специалист/копирайтер</div>
          <p class="card-spec__content">
            Маркетинговый контент-эксперт. С 2006 года в сфере коммуникаций.
            Большой опыт управления проектами в направлениях: внутренние
            коммуникации, корпоративные социальные и благотворительные проекты.
          </p>
          <img src="@img/spec.jpg" alt="image" class="card-spec__img" />
        </div>
      </div>
    </div>
    <div class="slider-pagination"></div>
  </div>
</section>
