.card-spec {
  display: flex !important;
  flex-direction: column;
  box-sizing: border-box;
  padding: 32px 24px;
  border-radius: 16px;
  background-color: var(--dark);
  @include tablet {
    padding: 24px 16px;
  }
  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    margin: 0px 0px 16px 0px;
    @include tablet {
      font-size: 24px;
    }
  }
  &__content {
    margin: 0px 0px 24px 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
  &__img {
    border-radius: 16px;
    display: block;
    width: 100%;
    aspect-ratio: 1/0.66;
    object-fit: cover;
  }
}
